{#
/**
 * @file
 * Default field override from core/classy.
 *
 */
#}
{%
  set classes = [
    'accordion',
  ]
%}
<div {{ attributes.addClass(classes) }} id="{{ accordion_id }}">
  {% for item in items %}
    {% if loop.first %}
      {% set button = 'btn btn-link' %}
      {% set expanded = 'true' %}
      {% set cardshow = 'collapse show' %}
    {% else %}
      {% set button = 'btn btn-link collapsed' %}
      {% set expanded = 'false' %}
      {% set cardshow = 'collapse' %}
    {% endif %}
    <div class="card">
      <div class="card-header" id="heading-{{ accordion_id }}-{{ loop.index }}">
        <h3 class="mb-0">
          <button class="{{ button }}" data-toggle="collapse" data-target="#collapse-{{ accordion_id }}-{{ loop.index }}" aria-expanded="{{ expanded }}" aria-controls="collapse-{{ accordion_id }}-{{ loop.index }}">
            {{ item.content['#paragraph'].field_accordion_item_title.value }}
          </button>
        </h3>
      </div>

      <div id="collapse-{{ accordion_id }}-{{ loop.index }}" class="{{ cardshow }}" aria-labelledby="heading-{{ accordion_id }}-{{ loop.index }}" data-parent="#accordion">
        <div class="card-body">
          {{ item.content }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
