{#
/**
 * @file
 * Skeletor tabs/accordion template file.
 *
 */
#}
{%
  set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
  'tabs-accordion',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <nav role="naviation" class="tabs-accordion__nav d-none d-md-block">
    <div class="nav nav-tabs" id="nav-{{ tab_id }}" role="tablist">
      {% for item in items %}
        {% if loop.first %}
          <a class="nav-item nav-link active" id="nav-{{ tab_id }}-{{ loop.index }}" data-toggle="tab" href="#pane-{{ tab_id }}-{{ loop.index }}" role="tab" aria-controls="pane-{{ tab_id }}-{{ loop.index }}" aria-selected="true">
            {{ item.tab_nav_link }}
          </a>
        {% else %}
          <a class="nav-item nav-link" id="nav-{{ tab_id }}-{{ loop.index }}" data-toggle="tab" href="#pane-{{ tab_id }}-{{ loop.index }}" role="tab" aria-controls="pane-{{ tab_id }}-{{ loop.index }}" aria-selected="false">
            {{ item.tab_nav_link }}
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </nav>

  <div class="tab-content tabs-accordion__content" id="content-{{ tab_id }}">
    {% for item in items %}
      {% if loop.first %}
        <div class="tabs-accordion__pane card tab-pane fade show active" id="pane-{{ tab_id }}-{{ loop.index }}" role="tabpanel" aria-labelledby="nav-{{ tab_id }}-{{ loop.index }}">
          <div class="card-header d-md-none" role="tab" id="card-heading-{{ tab_id }}-{{ loop.index }}">
            <h3 class="mb-0">
              <a data-toggle="collapse" href="#card-body-{{ tab_id }}-{{ loop.index }}" data-parent="#content-{{ tab_id }}" aria-expanded="true" aria-controls="card-body-{{ tab_id }}-{{ loop.index }}">
                {{ item.tab_nav_link }}
              </a>
            </h3>
          </div>
          <div id="card-body-{{ tab_id }}-{{ loop.index }}" class="collapse show d-md-block" role="tabpanel" aria-labelledby="card-heading-{{ tab_id }}-{{ loop.index }}">
            <div class="card-body">
              {{ item.content }}
            </div>
          </div>
        </div>
      {% else %}
        <div class="tabs-accordion__pane card tab-pane fade" id="pane-{{ tab_id }}-{{ loop.index }}" role="tabpanel" aria-labelledby="nav-{{ tab_id }}-{{ loop.index }}">
          <div class="card-header d-md-none" role="tab" id="card-heading-{{ tab_id }}-{{ loop.index }}">
            <h3 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#card-body-{{ tab_id }}-{{ loop.index }}" data-parent="#content-{{ tab_id }}" aria-expanded="false" aria-controls="card-body-{{ tab_id }}-{{ loop.index }}">
                {{ item.tab_nav_link }}
              </a>
            </h3>
          </div>
          <div id="card-body-{{ tab_id }}-{{ loop.index }}" class="collapse d-md-block" role="tabpanel" aria-labelledby="card-heading-{{ tab_id }}-{{ loop.index }}">
            <div class="card-body">
              {{ item.content }}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

</div>
